#data img {
    width: 80px;
    height: 130px;
    margin: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    zoom: 1.2;
    font-weight: bold;
}

.answer {
    border: 1px solid blue;
}